*{
    margin: 0;
    padding: 0;
    font-family: century-gothic, sans-serif;
}
html{
    scroll-behavior: smooth;
    background-color: rgb(229, 255, 195);;
}
.header{
    /* background-image: url(landing_page.jpg); */
    background-image: url(homeBg.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
}
.intro{
    margin: auto;
    height: 90%;
    width: 90%;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.037);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 50px black;
}
.intro-context{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 12rem;
}
.intro-context h1{
    font-size: 3rem;
    color: white;
    width: 60%;
}
.intro-context p{
    color: white;
    width: 80%;
    font-size: 1rem;
    margin-top: .5rem;
}
.buttons{
    margin-top: 2rem;
}
#button1{
    background-color: greenyellow;
    border: none;
    border-radius: 2rem;
    height: 2.6rem;
    width: 9rem;
    cursor: pointer;
    font-weight: bolder;
    transition: ease-in-out .2s;
}
#button1:hover{
    background: transparent;
    border: 1px solid greenyellow;
    color: yellowgreen;
    transform: scale(1.1);
}
#button2{
    border: white solid 1px;
    height: 2.6rem;
    border-radius: 2rem;
    width: 7rem;
    color: white;
    font-weight: bolder;
    background: transparent;
    margin-left: 1rem;
    cursor: pointer;
    transition: ease-in-out .2s;
}
#button2:hover{
    transform: scale(1.1);
}
.top-icons{
    width: 90%;
}
.top-icons ul{
    width: 100%;
    margin-top: 1.4rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.top-icons ul li a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
}
.top-icons ul li{
    transition: ease-in-out .2s;
}
.top-icons ul li:hover{
    transform: scale(1.3);
    border-bottom: 1px solid white;
}
.achievements{
    height: 34vh;
    background-color: rgb(19, 54, 21);
    /* background-color: rgb(117, 38, 38); */
    /* background-color: rgb(109, 52, 31); */
}
.achievements h1{
    text-align: center;
    color: white;
    padding-top: 2rem;
    font-size: 2.6rem;
}
.achievement{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3rem;
    font-size: 1.3rem;
    color: white;
}
.services h1{
    text-align: center;
    padding-top: 2rem;
    font-size: 2.6rem;
}
.service{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#service1, #service2, #service3, #service4{
    width: 40%;
    margin-top: 3rem;
    box-shadow: 0px 0px 20px    rgba(69, 69, 69, 0.621);
    display: flex;
    background-color: rgb(238, 249, 225);
    border-radius: 2rem;
    flex-direction: column;
    margin-bottom: 2rem;
}
#service1 img, #service2 img, #service3 img, #service4 img{
    /* width: 38rem;
    height: 28rem; */
    width: 100%;
    height: 70%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
#service1 h3, #service2 h3, #service3 h3, #service4 h3{
    margin-top: 1.4rem;
    margin-bottom: .8rem;
    margin-left: 1rem;
    font-size: 1.8rem;
}
#service1 p, #service2 p, #service3 p, #service4 p{
    margin-bottom: 2.4rem;
    margin-left: 1rem;
    font-size: 1rem;
}
.cities{
    background-color: rgb(19, 54, 21);
    height: 100vh;
    margin-top: 1rem;
}
.cities h1{
    text-align: center;
    color: white;
    padding-top: 3rem;
    font-size: 2.6rem;
    margin-bottom: 4rem;
}
.city{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
}
#faisalabad{
    background: linear-gradient(to top, rgba(0,0,0,0.9), transparent),
    url("faisalabad.jpg");
    height: 70%;
    width: 26%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 2rem;
    color: white;
    justify-content: flex-end;
}
#islamabad{
    background: linear-gradient(to top, rgba(0,0,0,0.9), transparent),
    url("islamabad.jpg");
    height: 70%;
    width: 26%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 2rem;
    color: white;
    justify-content: flex-end;
}
#multan{
    background: linear-gradient(to top, rgba(0,0,0,0.9), transparent),
    url("multan.jpg");
    height: 70%;
    width: 26%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 2rem;
    color: white;
    justify-content: flex-end;
}
#faisalabad h2, #islamabad h2, #multan h2{
    margin-bottom: 2rem;
    font-size: 2rem;
}
.office-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
}
.contact{
    display: flex;
    flex-direction: column;
    width: 36%;
    box-shadow: 0px 0px 20px rgba(102, 102, 102, 0.674);
    border-radius: 2rem;
    height: 73vh;
    background-color: rgb(19, 54, 21);
}
.contactUs-form{
    width: 86%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 2rem;
}
.contact h1{
    margin-left: 2rem;
    margin-top: 2rem;
    color: white;
}
.contactUs-form{
    height: 75%;
    margin-top: 2rem;
}
.contactUs-form input{
    height: 2rem;
    margin-top: -.2rem;
    font-size: 1rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}
.contactUs-form input:focus{
    outline: none;
}
.contactUs-form label{
    color: white;
    margin-top: .6rem;
    font-weight: 300;
}
.contactUs-form textarea{
    height: 40%;
    margin-top: .2rem;
    margin-bottom: 3rem;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 1rem;
}
.contactUs-form textarea:focus{
    outline: none;
}
#submit-button{
    background-color: greenyellow;
    border: none;
    border-radius: .4rem;
    height: 3rem;
    
}
.location{
color: white;
background-color: rgb(19, 54, 21);
border-radius: 2rem;
width: 50%;
display: flex;
flex-direction: column;
}
.location h1{
    margin-left: 2rem;
    margin-top: 2rem;
}
.location h3, .location p{
margin-left: 2rem;
}
.location h3{
margin-top: 1.6rem;
}
.location iframe{
    margin: auto;
    border-radius: .6rem;
    height: 45%;
    width: 70%;
}
.location a{
    margin-bottom: .6rem;
    color: white;
    font-weight: 500;
    margin-left: 2rem;
}
#mailto{
    margin-bottom: 2rem;
}
footer{
    background-color: rgb(19, 54, 21);
    height: 70vh;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-around;
}
.footer-content{
        display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
}
.copyright{
    text-align: center;
}
.footerLine{
    background-color: white;
    width: 1px;
    height: 70%;
}
.footer1 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer1 ul li{
    margin-top: 1rem;
}
.footer1 ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}
.footer2 {
    color: white;
    width: 30%;
}
@media screen and (max-width: 790px){
    .intro-context h1{
        font-size: 2.6rem;
        margin-bottom: 1rem;
    }
    .intro-context{
        margin-top: 5rem;
    }
    .intro-context p{
        margin-bottom: 1rem;
    }
    .service{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
    align-items: center;
}
.services h1, .achievements h1{
    font-size: 2.4rem;
}
#service1, #service2, #service3, #service4{
    width: 90%;
}
.city{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: -10rem;
    justify-content: center;
    align-items: center;
}
#faisalabad, #islamabad, #multan{
    width: 90%;
    height: 23%;
    margin-top: 1.8rem;
}
.city h2{
    margin-bottom: 0.1rem;
}
.cities{
    height: 60rem;
}
.achievements{
    display: flex;
    flex-direction: column;
    height: 40vh;
}
.achievement{
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#achievement1{
    width: 40%;
    margin-bottom: 1rem;
}
.office-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact{
    width: 90%;
    margin-bottom: 2rem;
}
.location{
    width: 90%;
}
.location iframe{
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.footer-content{
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer2{
    text-align: center;
    width: 80%;
}
.footerLine{
    height: 1px;
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
}